</artical>
</div>
<div class="footer text-center">
    Copyright&copy;2014 All Rights Reserved
</div>
</body>
<script src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
</html>