<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
    <ul><% item.forEach(function(listitem){%><%include listitem %><%}) %></ul>
</body>
</html>
